* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#backgroundimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagescipla {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2%; /* Adjust margin as needed */
}

#centered-text {
    position: absolute;
    top: 15%; /* Adjust the top value to center it at the top */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white; /* Set text color as needed */
    font-family: 'Poppins', sans-serif; /* Use your preferred font */
}

#centered-textimage {
    position: absolute;
    top: 50%; /* Adjust the top value to place it below the h6 text */
    left: 50%;
    transform: translate(-50%, -50%);
}


#centered-text h4 {
    font-size: 35px; /* Adjust font size as needed */
    font-weight: 500; /* Adjust font weight as needed */
}

#centered-text h6 {
    font-size: 50px; /* Adjust font size as needed */
    font-weight: bold; /* Make it bold */
    
}
